/*
 * Name: CSS Button
 * Author: David Darnes
 * Author url: http://david.darn.es
 * Tools: Made in Coda, Codekit and Less
 * Usage: Just copy this file into your work folder and use a less @import
   in your main less file. To change the colour either change the colour
   referenced next to @button-colour or duplicate the whole class and
   create as many colours as you like.
 */
/* This all the button structure and workings, doesn't need to be duplicated */
.button {
  font: 16px Georgia, serif;
  position: relative;
  float: left;
  margin: 58px;
  height: 80px;
  width: 80px;
}
.button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.button:active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.button:after {
  content: "::";
  letter-spacing: 3px;
  position: absolute;
  color: #fff;
  font-size: 2.25em;
  line-height: 40%;
  height: 30%;
  width: 30%;
  left: 34%;
  top: 35%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.button:before {
  content: "";
  display: block;
  position: absolute;
  height: 71%;
  width: 70%;
  border-radius: 100%;
  top: 15.5%;
  left: 15.5%;
}
/* Regular CSS users can either change all the colours manually (which might take forever) or use the style.css file and reference the colour you want */
.button {
  background: #333333;
  border-top: 1px solid #666666;
  -webkit-border-radius: 10000px;
  -moz-border-radius: 10000px;
  border-radius: 10000px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.button:hover {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
}
.button:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(51, 51, 51, 0.30000000000000004), inset 0 2px 5px #808080, inset 0 -2px 5px #000000, inset 0 -1px 2px rgba(51, 51, 51, 0.9);
}
.button:after {
  text-shadow: 0 -1px 1px #000000, 0 1px 1px #b3b3b3;
}
.button:before {
  background: #2b2b2b;
  -webkit-box-shadow: 0 2px 5px #737373, 0 -2px 5px #000000, inset 0 -3px 3px #262626, inset 0 1px 2px #262626;
  -moz-box-shadow: 0 2px 5px #737373, 0 -2px 5px #000000, inset 0 -3px 3px #262626, inset 0 1px 2px #262626;
  box-shadow: 0 2px 5px #737373, 0 -2px 5px #000000, inset 0 -3px 3px #262626, inset 0 1px 2px #262626;
}
